@font-face {
  font-family: Roboto;
  src: url("Roboto_font/Roboto-Regular.ttf");
}
body {
  font-family: Roboto;
}
#container1 {
  background-image: url("images/delaniB.jpg");
  background-position: center;
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-size: 1em;
}
#container2 {
  align-items: center;
  justify-content: center;
  padding-top: 17%;
  text-align: center;
  font-size: 25px
}
#container4{
  background-image: url("images/delaniA.jpg");
  height: auto;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
 text-align: center;
 font-size: 23px;
 padding:4em;
}

#design{
  align-items: center;
  text-align: center;
  height: auto;
}
#development{
  align-items: center;
  text-align: center;
  height: auto;
  
}
#management{
  align-items: center;
  text-align: center;
  height: auto;
}
#about1{
  width: 40%;
  height:13vh;
}
#about4{
  width: 40%;
  height:13vh;
}
#about5{
  width: 40%;
  height:13vh;
}
#portfolio{
  width: 90%;
  padding-left: 14%;
  
}
#contact{
  background-image: url("images/delaniC.jpg");
  height: auto;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5% 10%;
}
#inputName,
#inputEmail,
#inputMessage,
#btn{
  border: 1px solid white;
  background: transparent;
  color: white;
  height: 6vh;
  font-size: 1.5em;
}
#inputName::placeholder,
#inputEmail::placeholder,
#inputMessage::placeholder{
  color: white;
}
#inputMessage{
  height: 26vh;
}
#btn{
  height: 4vh;
  align-items: center;
}
#hidden1,
#hidden2,
#hidden3{
  display: none;
}
.title{
  font-size: 1em;
  border: 2px solid white;
  padding-top:10px;
  position: absolute;
  text-align: center;
  height: 70%;
  width: 72%;
  margin: 10%;
  font-size: 1.5em;
  color: white;
  transform: translate(-0%, -130%);
  /* display: none; */
}
#darkicon{
  position: relative;

}
#footer{
  padding-left:36% ;
}

